body{
    font-family: 'Montserrat', sans-serif;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.flex-column{
    padding-bottom: 50px;
    padding-left: 30px;
}

.nav-header {
    font-weight: bold;
}

.nav-link {
    color: black
}

#ContentName{
    padding-left: 30px;
}

#topnavbar{
    padding-top: 20px;
    padding-left: 100px;
}

#logout{
    border: #FF922D
}
  
.v1 {
    border-right: 1px solid black;
}

.row .col {
    display: flex
}

.btn{
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bolder;
    color:white;
    background-color: #FF922D;
    margin-left: 450px;
}

#title{
    padding-top: 20px;
    padding-left: 10px;
}

.tableHead {
    background-color: #FF922D;   
}

#loading {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

#loading-image {
    margin-top: 50px;
    z-index: 100;
}