body{
    font-family: 'Montserrat', sans-serif;
}

#ContentName{
    padding-left: 50px;
}

#MaterialName{
    padding-left: 120px;
}

#topnavbar{
    padding-top: 20px;
    padding-left: 100px;
}

.btn{
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bolder;
    color:white;
    background-color: #FF922D;
    margin-left: 450px;
}

.button {
    background-color: #566E92;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.card{
    margin-left: 50px;
}