.btn{
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bolder;
    color:white;
    background-color: #FF922D;
}

#landing_text{
    font-weight: bold;
    font-size:2em;
}

.modal-icon {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
    }

.modal-icon i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
